
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

*{
    margin: 0;
}

/* shared style  */
.button-primary{
    background: linear-gradient(47deg, #F7E93F, #FA4396, #FB09B4, #9100F8);
    color: white;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}



/* navbar-style */
.brand{
    font-size: 2rem;
    font-weight: 219px;
}

.tech{
    color: white;
    
}
.wave{
    background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-container{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-content{
    max-width: 218px;
    
}

.nav-links{
    max-width: 218px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.nav-item{
    list-style: none;
    
    
}

.nav-item a{
    text-decoration: none;
    color: white;
}

.nav-container .button-primary{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

/* banner-section */

.banner{
    background-image: url(./assets/hero-bg.png);

}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}


.hero-circle{
    position: relative;
    top: 90px;
    left: 10px;
}

.hero-microphone{
    position: absolute;
    top: 100px;
    left: 110px;
}

.hero-new{
    position: absolute;
    top: 40px;
    right: 10px;

    background-color: #00FF88;
    padding: 8px 16px 8px 16px;
    border-radius: 30%;
    font-size: 1.1rem;
    font-weight: 600;
}

.hero-content{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hero-text h2{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 8px;
}

.hero-text p{
    color: white;
    font-size: 1rem;
    padding-bottom: 24px;

}

.hero-button{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 110px;
}
.button-secondary{
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}

.hero-button .button-primary{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hero-button .button-secondary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    cursor: pointer;
}

/* about-section */
.about-section{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;

}

.about-container{
    max-width: 1200px;
    
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content h3{
    font-size: 3rem;
    color: white;
    padding-bottom: 16px;
}
.about-content .first{
    color: white;
    text-align: center;
    line-height: 20px;
}

.second{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.summary-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    padding-bottom: 120px;
    place-items: center;
    gap: 80px;

    
}

.summary{
    display: grid;

    
}

.summary h3{
    color: #00FF88;
    font-size: 3.8rem;
    width: 240px;
    
}
.summary p{
    color: white;
}

/* choose-section */

.choose{
    display: flex;
    justify-content: space-around;
    background-color: #230E3D;
}
.choose-container{

    margin: o auto;
    max-width: 1200px;
    
}

.choose-heading{
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 40px;
}

.choose-heading h3{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
}

.card{
    background: #2a0f4e;
    border-radius: 16px;
    padding: 30px;
    color: #fff;
    cursor: pointer;
}

.card-1{
    grid-column: span 1;
    grid-row: span 2;

}

.card-1 .card{
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-2{
    grid-column: span 2;
}

.card-3{
    grid-column: span 2;
}

.card-4{
    grid-column: span 2 ;
}
.card-5{
    grid-column: span 1;
}

.card-box img {
    width: 34px;
    margin-bottom: 16px;
}

.card-box h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-box p {
    font-size: 14px;
    line-height: 1.55;
    opacity: 0.85;
}


/* footer-section */
.footer{
    background-image: url(./assets/footer-bg.png);
    max-width: full;
    height: auto;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 120PX;
    padding-bottom: 120PX;
}

.footer-content h2{
    padding-bottom: 40px;
}
.social-links {
    max-width: 544px;
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
    
}

.link-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.link-text{
    color: white;
    font-size: 1rem;
    font-weight: 55px;
    
}

.copyright p{
    color: white;
    font-size: 1rem;
}